In [ ]:
import pandas as pd
import numpy as np
import regex as re
from collections import Counter
import spacy
import string

In [ ]:
from google.colab import files 
uploaded = files.upload()
import io 
df = pd.read_excel(io.BytesIO(uploaded['feature store.xlsx']))
print(df)

Saving feature store.xlsx to feature store.xlsx

NameError: ignored

In [ ]:
string.punctuation
df['Number of exclamations'] = df['Message'].map(lambda x: x.count("!"))
df['Question Marks'] = df['Message'].map(lambda x: x.count("?"))
df

,Category,Message,Number of exclamations,Question Marks
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1
2,spam,WINNER!! As a valued network customer you have...,3,0
3,spam,Had your mobile 11 months or more? U R entitle...,1,1
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0
...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0
2985,ham,Will ü b going to esplanade fr home?,0,1
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1
2987,ham,The guy did some bitching but I acted like i'd...,0,0
2988,ham,Rofl. Its true to its name,0,0

In [ ]:
df['words'] = [len(x.split()) for x in df['Message'].tolist()]

In [ ]:
df

,Category,Message,Number of exclamations,Question Marks,words
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32
2,spam,WINNER!! As a valued network customer you have...,3,0,26
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26
...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30
2985,ham,Will ü b going to esplanade fr home?,0,1,8
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26
2988,ham,Rofl. Its true to its name,0,0,6

STOP WORDS

In [ ]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import nltk
nltk.download('stopwords')
nltk.download('punkt')
stop_words = set(stopwords.words('english'))

df['STOP WORDS']='0'
df['NUMBER OF STOP WORDS']='0'
for i in range(0, len(df.index)):
    x=[]
    word_tokens = word_tokenize(df.loc[i].at['Message'])
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    for w in word_tokens:
        if w in stop_words:
            x.append(w)
    df.at[i,"STOP WORDS"]= x
    df.at[i,"NUMBER OF STOP WORDS"]= len(x)
    
    
df

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

,Category,Message,Number of exclamations,Question Marks,words,STOP WORDS,NUMBER OF STOP WORDS
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28,"[in, a, to, to, to]",5
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32,"[there, it, been, now, and, no, some, you, up,...",13
2,spam,WINNER!! As a valued network customer you have...,3,0,26,"[a, you, have, been, to, only]",6
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29,"[your, or, more, to, to, the, with, for, on]",9
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26,"[to, to, and, to]",4
...,...,...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30,"[is, the, we, have, have, won, the, is]",8
2985,ham,Will ü b going to esplanade fr home?,0,1,8,[to],1
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10,"[was, in, for, that, any, other]",6
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26,"[did, some, but, i, be, in, and, he, it, to, for]",11
2988,ham,Rofl. Its true to its name,0,0,6,"[to, its]",2

In [ ]:
#df['TIME']='0'
df["DATE"]='0'
df["ORG"]='0'
df["CARDINAL"]='0'
df["LOC"]='0'
df["GPE"]='0'
#df["PRODUCT"]='0'
df["EVENT"]='0'
#df["Facitlity"]='0'
#df["NORP"]='0'
df["MONEY"]='0'
df

,Category,Message,Number of exclamations,Question Marks,words,STOP WORDS,NUMBER OF STOP WORDS,DATE,ORG,CARDINAL,LOC,GPE,EVENT,MONEY
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28,"[in, a, to, to, to]",5,0,0,0,0,0,0,0
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32,"[there, it, been, now, and, no, some, you, up,...",13,0,0,0,0,0,0,0
2,spam,WINNER!! As a valued network customer you have...,3,0,26,"[a, you, have, been, to, only]",6,0,0,0,0,0,0,0
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29,"[your, or, more, to, to, the, with, for, on]",9,0,0,0,0,0,0,0
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26,"[to, to, and, to]",4,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30,"[is, the, we, have, have, won, the, is]",8,0,0,0,0,0,0,0
2985,ham,Will ü b going to esplanade fr home?,0,1,8,[to],1,0,0,0,0,0,0,0
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10,"[was, in, for, that, any, other]",6,0,0,0,0,0,0,0
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26,"[did, some, but, i, be, in, and, he, it, to, for]",11,0,0,0,0,0,0,0
2988,ham,Rofl. Its true to its name,0,0,6,"[to, its]",2,0,0,0,0,0,0,0

In [ ]:
def extract_entities(doc, key):
    x=[]
    nlp = spacy.load("en_core_web_sm")    
    for ent in doc.ents:
        if ent.label_== key :
            x.append(ent.text)
    
    return x

In [ ]:
nlp = spacy.load("en_core_web_sm")
for i in range(0, 50):
    #x=[]
    doc=nlp(df.loc[i].at['Message'])
    #x=extract_entities(doc,'DATE')
    df.at[i,"MONEY"]= extract_entities(doc,'MONEY')
    
df

,Category,Message,Number of exclamations,Question Marks,words,STOP WORDS,NUMBER OF STOP WORDS,DATE,ORG,CARDINAL,LOC,GPE,EVENT,MONEY
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28,"[in, a, to, to, to]",5,"[May 2005, 87121, 08452810075over18]",[],[2],[],0,0,[]
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32,"[there, it, been, now, and, no, some, you, up,...",13,[3 week's],[],[],[],0,0,[1.50]
2,spam,WINNER!! As a valued network customer you have...,3,0,26,"[a, you, have, been, to, only]",6,[09061701461],[],[],[],0,0,[]
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29,"[your, or, more, to, to, the, with, for, on]",9,[08002986030],[Update],[],[],0,0,[]
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26,"[to, to, and, to]",4,"[150p/day, 6days]",[],"[SIX, 16, 4]",[],0,0,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30,"[is, the, we, have, have, won, the, is]",8,0,0,0,0,0,0,0
2985,ham,Will ü b going to esplanade fr home?,0,1,8,[to],1,0,0,0,0,0,0,0
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10,"[was, in, for, that, any, other]",6,0,0,0,0,0,0,0
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26,"[did, some, but, i, be, in, and, he, it, to, for]",11,0,0,0,0,0,0,0
2988,ham,Rofl. Its true to its name,0,0,6,"[to, its]",2,0,0,0,0,0,0,0

In [ ]:
import spacy
nlp = spacy.load("en_core_web_sm")
def NER(doc,tag):
    l = len([ent for ent in doc.ents if ent.label_==tag ])
    return l

df['number of dates']='0'
df['number of Cardinals']='0'
df['number of financial Terms']='0'
df['number of Times']='0'

df

,Category,Message,Number of exclamations,Question Marks,words,STOP WORDS,NUMBER OF STOP WORDS,DATE,ORG,CARDINAL,LOC,GPE,EVENT,MONEY,number of dates,number of Cardinals,number of financial Terms,number of Times
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28,"[in, a, to, to, to]",5,"[May 2005, 87121, 08452810075over18]",[],[2],[],0,0,[],0,0,0,0
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32,"[there, it, been, now, and, no, some, you, up,...",13,[3 week's],[],[],[],0,0,[1.50],0,0,0,0
2,spam,WINNER!! As a valued network customer you have...,3,0,26,"[a, you, have, been, to, only]",6,[09061701461],[],[],[],0,0,[],0,0,0,0
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29,"[your, or, more, to, to, the, with, for, on]",9,[08002986030],[Update],[],[],0,0,[],0,0,0,0
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26,"[to, to, and, to]",4,"[150p/day, 6days]",[],"[SIX, 16, 4]",[],0,0,[],0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30,"[is, the, we, have, have, won, the, is]",8,0,0,0,0,0,0,0,0,0,0,0
2985,ham,Will ü b going to esplanade fr home?,0,1,8,[to],1,0,0,0,0,0,0,0,0,0,0,0
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10,"[was, in, for, that, any, other]",6,0,0,0,0,0,0,0,0,0,0,0
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26,"[did, some, but, i, be, in, and, he, it, to, for]",11,0,0,0,0,0,0,0,0,0,0,0
2988,ham,Rofl. Its true to its name,0,0,6,"[to, its]",2,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
nlp = spacy.load("en_core_web_sm")
nerdf=[]
for i in range(0, len(df.index)):
    doc=nlp(df.loc[i].at["Message"])
    nerdf.append(NER(doc,"TIME"))
df['number of Times']=nerdf

df

,Category,Message,Number of exclamations,Question Marks,words,STOP WORDS,NUMBER OF STOP WORDS,DATE,ORG,CARDINAL,LOC,GPE,EVENT,MONEY,number of dates,number of Cardinals,number of financial Terms,number of Times
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28,"[in, a, to, to, to]",5,"[May 2005, 87121, 08452810075over18]",[],[2],[],0,0,[],3,1,0,0
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32,"[there, it, been, now, and, no, some, you, up,...",13,[3 week's],[],[],[],0,0,[1.50],1,0,1,0
2,spam,WINNER!! As a valued network customer you have...,3,0,26,"[a, you, have, been, to, only]",6,[09061701461],[],[],[],0,0,[],1,0,0,1
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29,"[your, or, more, to, to, the, with, for, on]",9,[08002986030],[Update],[],[],0,0,[],1,0,0,0
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26,"[to, to, and, to]",4,"[150p/day, 6days]",[],"[SIX, 16, 4]",[],0,0,[],2,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30,"[is, the, we, have, have, won, the, is]",8,0,0,0,0,0,0,0,2,2,1,0
2985,ham,Will ü b going to esplanade fr home?,0,1,8,[to],1,0,0,0,0,0,0,0,0,0,0,0
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10,"[was, in, for, that, any, other]",6,0,0,0,0,0,0,0,0,0,0,0
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26,"[did, some, but, i, be, in, and, he, it, to, for]",11,0,0,0,0,0,0,0,1,0,0,0
2988,ham,Rofl. Its true to its name,0,0,6,"[to, its]",2,0,0,0,0,0,0,0,0,0,0,0

Parts of speeech extraction

In [ ]:
df['ADJECTIVES']='0'
df['Number of ADJECTIVES']='0'
df['INTERJECTION']='0'
df['Number of INTERJECTION']='0'
df['NOUNS']='0'
df['Number of NOUNS']='0'
df['Verbs']='0'
df['Number of Verbs']='0'
df['WHwords']='0'
df['Number of WHwords']='0'
df['Foreign word']='0'
df['Number of Foreign word']='0'


import nltk
nltk.download('averaged_perceptron_tagger')

is_adj = lambda pos: pos[:2] == 'JJ' or pos[:2] == 'JJS' or pos[:2] == 'JJR'
for i in range(0, len(df.index)):
    x=[]
    tokenized = nltk.word_tokenize(df.loc[i].at['Message'])
    x = [word for (word, pos) in nltk.pos_tag(tokenized) if is_adj(pos)] 
    df.at[i,"ADJECTIVES"]= x
    df.at[i,"Number of ADJECTIVES"]= len(x)
    
    


is_noun = lambda pos: pos[:2] == 'NN' or pos[:2] == 'NNS' or pos[:2] == 'NNP' or pos[:2] == 'NNPS'
for i in range(0, len(df.index)):
    x=[]
    tokenized = nltk.word_tokenize(df.loc[i].at['Message'])
    x = [word for (word, pos) in nltk.pos_tag(tokenized) if is_noun(pos)] 
    df.at[i,"NOUNS"]= x
    df.at[i,"Number of NOUNS"]= len(x)
        
    
    
is_interjection = lambda pos: pos[:2] == 'UH' 
for i in range(0, len(df.index)):
    x=[]
    tokenized = nltk.word_tokenize(df.loc[i].at['Message'])
    x = [word for (word, pos) in nltk.pos_tag(tokenized) if is_interjection(pos)] 
    df.at[i,"INTERJECTION"]= x
    df.at[i,"Number of INTERJECTION"]= len(x)
    
    
    
    
is_wh = lambda pos: pos[:2] == 'WDT' or pos[:2] == 'WP' or pos[:2] == 'WD$' or pos[:2] == 'WRB' 
for i in range(0, len(df.index)):
    x=[]
    tokenized = nltk.word_tokenize(df.loc[i].at['Message'])
    x = [word for (word, pos) in nltk.pos_tag(tokenized) if is_wh(pos)] 
    df.at[i,"WHwords"]= x
    df.at[i,"Number of WHwords"]= len(x)
    

is_fw = lambda pos: pos[:2] == 'FW' 
for i in range(0, len(df.index)):
    x=[]
    tokenized = nltk.word_tokenize(df.loc[i].at['Message'])
    x = [word for (word, pos) in nltk.pos_tag(tokenized) if is_wh(pos)] 
    df.at[i,"Foreign word"]= x
    df.at[i,"Number of Foreign word"]= len(x)


is_verb = lambda pos: pos[:2] == 'VB' or pos[:2] == 'VBD' or pos[:2] == 'VBG' or pos[:2] == 'VBZ' 
for i in range(0, len(df.index)):
    x=[]
    tokenized = nltk.word_tokenize(df.loc[i].at['Message'])
    x = [word for (word, pos) in nltk.pos_tag(tokenized) if is_verb(pos)] 
    df.at[i,"Verbs"]= x   
    df.at[i,"Number of Verbs"]= len(x)

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [ ]:
df

,Category,Message,Number of exclamations,Question Marks,words,STOP WORDS,NUMBER OF STOP WORDS,DATE,ORG,CARDINAL,...,Number of INTERJECTION,NOUNS,Number of NOUNS,Verbs,Number of Verbs,WHwords,Number of WHwords,Foreign word,Number of Foreign word,Foreign Word
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...,0,0,28,"[in, a, to, to, to]",5,"[May 2005, 87121, 08452810075over18]",[],[2],...,0,"[entry, comp, FA, Cup, tkts, May, FA, entry, q...",13,"[win, Text, receive, apply]",4,[],0,[],0,NaN
1,spam,FreeMsg Hey there darling it's been 3 week's n...,2,1,32,"[there, it, been, now, and, no, some, you, up,...",13,[3 week's],[],[],...,0,"[FreeMsg, Hey, week, word, fun, Tb, ok, XxX, c...",9,"[darling, 's, been, like, std, send, £1.50, rcv]",8,[],0,[],0,NaN
2,spam,WINNER!! As a valued network customer you have...,3,0,26,"[a, you, have, been, to, only]",6,[09061701461],[],[],...,0,"[WINNER, network, customer, £900, reward, call...",11,"[valued, have, been, selected, receivea, prize...",7,[],0,[],0,NaN
3,spam,Had your mobile 11 months or more? U R entitle...,1,1,29,"[your, or, more, to, to, the, with, for, on]",9,[08002986030],[Update],[],...,0,"[Had, months, U, R, colour, mobiles, camera, M...",11,"[entitled, Update, Call]",3,[],0,[],0,NaN
4,spam,"SIX chances to win CASH! From 100 to 20,000 po...",1,0,26,"[to, to, and, to]",4,"[150p/day, 6days]",[],"[SIX, 16, 4]",...,0,"[SIX, chances, CASH, pounds, >, CSH11, Cost, T...",11,"[win, send]",2,[],0,[],0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,spam,This is the 2nd time we have tried 2 contact u...,1,0,30,"[is, the, we, have, have, won, the, is]",8,0,0,0,...,0,"[time, contact, U, Pound, prize, claim, NOW1, ...",9,"[is, have, tried, have, won, is, call]",7,[],0,[],0,NaN
2985,ham,Will ü b going to esplanade fr home?,0,1,8,[to],1,0,0,0,...,0,"[b, fr, home]",3,"[ü, going, esplanade]",3,[],0,[],0,NaN
2986,ham,"Pity, * was in mood for that. So...any other s...",0,1,10,"[was, in, for, that, any, other]",6,0,0,0,...,0,"[Pity, *, mood, suggestions]",4,[was],1,[],0,[],0,NaN
2987,ham,The guy did some bitching but I acted like i'd...,0,0,26,"[did, some, but, i, be, in, and, he, it, to, for]",11,0,0,0,...,0,"[guy, bitching, i, something, week]",5,"[did, acted, be, buying, gave]",5,[],0,[],0,NaN
2988,ham,Rofl. Its true to its name,0,0,6,"[to, its]",2,0,0,0,...,0,"[Rofl, name]",2,[],0,[],0,[],0,NaN

In [ ]:
df.to_excel("Features_store.xlsx")

In [ ]:
df['Number of digits']='0'
def count_digits(string):
    return sum(item.isdigit() for item in string)


df['Number of digits'] = df['Message'].apply(count_digits)